/* Reset all margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding in size calculations */
}

/* Ensure html and body fill the full viewport */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent any scrolling */
}

/* Full-page styling */
.App {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-image: radial-gradient(circle, rgba(100, 100, 100, 0.7), rgba(50, 100, 255, 0.1));

  background-repeat: no-repeat;
  background-size: cover; /* Ensures it stretches */
  background-attachment: fixed; /* Fixes background in place */
}

/* Container for the two boxes */
.container {
  display: flex;
  width: 69%; /* Adjust width as needed */
  justify-content: space-between; /* Space between the boxes */
}

/* Each box styling */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Brush Script MT', cursive;
}

/* Box content style */
.box-content {
  width: 300px;
  height: 325px;
  border: 2px solid darkslategray; /* Border */
  border-radius: 10px;
  background-size: cover; /* Ensure the image covers the entire box */
  background-position: center; /* Center the image */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Shadow */
  margin-bottom: 10px;
  transform: scale(1); /* Ensure it starts at normal size */
  transition: transform 0.3s ease; /* Apply transition for smooth scaling */
}

/* Left box image */
.left-box {
  background-image: url('/images/eagle-gun-setup.jpg'); /* Left box image */
}

/* Right box image */
.right-box {
  background-image: url('/images/eagle-review.jpg'); /* Right box image */
}


/* Hover effect */
.box-content:hover {
  background-color: grey;
  cursor: pointer;
  transform: scale(1.05); /* Increase size on hover */
}


/* Text label below each box */
.label {
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Shadow */
}